:root {
    --accordion-background-color: none;
    --accordion-color: #57585a;
    --accordion-title-color: var(--accordion-color);
    --accordion-title-padding: 8px;
    --accordion-title-font-size: 16px;
    --accordion-border-radius: 6px;
    --accordion-border-color: var(--accordion-color);
    --accordion-border: 1px solid var(--accordion-color);
    --accordion-content-background: #fff;
    --accordion-content-color: #56585a;
    --accordion-content-font-size: 16px;
}

.accordion {
    background: var(--accordion-background-color);
    color: var(--accordion-color);
    /* border: var(--accordion-border); */
    border-radius: var(--accordion-border-radius);
}

.item-title {
    cursor: pointer;
    color: var(--accordion-title-color);
    padding: var(--accordion-title-padding);
    border-bottom: var(--accordion-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-title::after {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid var(--accordion-title-color);
    border-right: 2px solid var(--accordion-title-color);
    transform-origin: 75% 75%;
    transform: rotate(-45deg) translateY(-50%);
    transition: transform .1s ease;
    content: '';
}

.item-title.open {
    border-bottom: none;
}

.item-title.open::after {
    transform: rotate(-135deg) translateX(50%);
}

.item-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
    background: var(--accordion-content-background);
    border-bottom: var(--accordion-border);
}

.item-content > div {
    color: var(--accordion-content-color);
    font-size: var(--accordion-content-font-size);
}

.item-title.open + .item-content {
    display: grid;
}

.item-title > div {
    margin-left: 0;
    font-size: var(--accordion-title-font-size);
}